@import "tailwindcss";


/* App level styles */
html, body, #root { height: 100%; }
body { @apply bg-gray-50 text-gray-800 font-sans; }

/* Utility classes for card */
.card { @apply bg-white rounded-lg shadow p-4; }

